<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyumaru.regionManage.dao.CityDao">
	<resultMap type="com.gyumaru.regionManage.pojo.City" id="city">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<association property="county" javaType="County" column="county_id"
			select="com.gyumaru.regionManage.dao.CountyDao.getInfoById">
		</association>
	</resultMap>
	<sql id="base_column">
		id, name,county_id
	</sql>
	<select id="getInfoById" parameterType="Integer" resultMap="city">
		SELECT
		<include refid="base_column" />
		FROM d_city WHERE id=#{id}
	</select>
	<select id="getInfoList" parameterType="Map" resultMap="city">
		SELECT
		<include refid="base_column" />
		FROM d_city
		<where>
			<if test="countyId !=null and countyId  !=''">
				AND county_id=#{countyId }
			</if>
		</where>
	</select>
	<insert id="insert" parameterType="com.gyumaru.regionManage.pojo.City">
		INSERT INTO
		d_city(name,county_id)
		VALUES(#{name},#{county.id})
	</insert>
	<update id="update" parameterType="com.gyumaru.regionManage.pojo.City">
		UPDATE d_city
		<set>
		</set>
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM d_city WHERE id=#{id}
	</delete>
</mapper>